<div class="container-fluid">
    <div class="row">
        <main class="">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/img/equipment.jpg" class="card-img-top" alt="Equipment">
                        <div class="card-body">
                            <p class="card-text">Equipment management</p>
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/img/furniture.jpg" class="card-img-top" alt="Furniture">
                        <div class="card-body">
                            <p class="card-text">Furniture</p>
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/img/printer.jpg" class="card-img-top" alt="Printer">
                        <div class="card-body">
                            <p class="card-text">Printer</p>
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>