<div class="container-fluid">
  <div class="row">
    <main class="col-12">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-center">
          <fa-icon [icon]="['fas', 'arrow-left']" class="me-2" (click)="goBack()" style="cursor: pointer;"></fa-icon>
          <h1 class="h2 ms-2">Stock disponible</h1>
        </div>
        <div *ngIf="isAdmin()" class="d-flex align-items-center">
          <button class="btn btn-primary" (click)="navigateToAddMaterial()">
            <fa-icon [icon]="['fas', 'plus']" class="me-2"></fa-icon>
            Ajouter un matériel
          </button>
        </div>
      </div>

      <div class="row" *ngFor="let type of (groupedMaterials | keyvalue)">
        <div class="col-12">
          <h2>{{ type.key }}</h2>
        </div>
        <div class="col-md-4 mb-4" *ngFor="let material of type.value">
          <div class="card h-100">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
              <span class="card-text text-uppercase fw-bold text-center">{{ material.name ? material.name : 'Nom non
                disponible' }}</span>
              <span class="card-text text-uppercase upper-subtitle mb-3">Salle de stockage</span>
              <button class="btn btn-primary mt-auto" (click)="openAssignModal(material._id)">Demande
                d'attribution</button>
              <button *ngIf="isAdmin()" class="btn btn-danger mt-2"
                (click)="deleteMaterial(material._id)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()"></div>
<div class="modal" tabindex="-1" *ngIf="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sélectionner une salle</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="roomSelect" class="form-label">Salle</label>
            <select class="form-select" id="roomSelect" [(ngModel)]="selectedRoom" name="selectedRoom">
              <option *ngFor="let room of rooms" [value]="room._id">{{ room.name }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="assignMaterial()">Valider</button>
      </div>
    </div>
  </div>
</div>