.navbar {
    transition: all 0.3s ease;
    background-color: transparent;
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
    height: 80px;
    z-index: 1000;
    width: 100%;
}
.navbar.scrolled {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand img {
    height: 50px;
    transition: height 0.3s ease;
}
.navbar.scrolled .navbar-brand img {
    height: 40px;
}
.navbar-toggler {
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-toggler .fa-icon {
    font-size: 24px;
    line-height: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.navbar-toggler .fa-icon.animated-icon {
    opacity: 1;
}
.navbar-toggler .fa-icon.animated-icon.bars {
    opacity: 1;
    transform: rotate(0);
}
.navbar-toggler .fa-icon.animated-icon.times {
    opacity: 1;
    transform: rotate(180deg);
}

.collapse.navbar-collapse {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 999;
    overflow-y: auto;
    display: block;
    height: calc(100vh - 80px);
}
.collapse.navbar-collapse.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.collapse.navbar-collapse.hide {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
}
.navbar-nav {
    width: 100%;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar-nav .nav-item {
    width: 100%;
    text-align: left;
    flex-grow: 1;
    padding-left:50px;
}
.navbar-nav .nav-item:first-child {
    padding-top: 20px;
}
.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 992px) {
    .navbar {
        background-color: #fff;
    }
    .navbar .navbar-brand img {
        height: 40px;
    }
}
