<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="d-flex justify-content-left align-items-center mb-3">
        <fa-icon [icon]="['fas', 'arrow-left']" class="me-2" (click)="goBack()" style="cursor: pointer;"></fa-icon>
        <h2 class="ms-2">Ajouter un nouveau matériel</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
            <div class="form-group mb-3">
              <label for="type" class="form-label">Type de matériel</label>
              <select id="type" name="type" class="form-select" ngModel required>
                <option value="" disabled selected>Sélectionner un type de matériel</option>
                <option value="Matériel informatique">Matériel informatique</option>
                <option value="Meuble">Meuble</option>
                <option value="Papeterie">Papeterie</option>
              </select>
              <div *ngIf="form.submitted && !form.controls['type'].valid" class="text-danger">
                Le type de matériel est requis.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="name" class="form-label">Nom du matériel</label>
              <input id="name" type="text" name="name" class="form-control" ngModel required
                placeholder="Nom du matériel">
              <div *ngIf="form.submitted && !form.controls['name'].valid" class="text-danger">
                Le nom du matériel est requis.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="renewal_date" class="form-label">Date de renouvellement du matériel</label>
              <input id="renewal_date" type="date" name="renewal_date" class="form-control" ngModel required
                placeholder="Date de renouvellement du matériel">
              <div *ngIf="form.submitted && !form.controls['renewal_date'].valid" class="text-danger">
                La date de renouvellement est requise.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="user" class="form-label">Type utilisateur autorisé</label>
              <div class="d-flex justify-content-between">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="member" name="member" ngModel>
                  <label class="form-check-label fw-normal" for="member">Membre</label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="organization" name="organization" ngModel>
                  <label class="form-check-label fw-normal" for="organization">Organisation</label>
                </div>
              </div>
              <div *ngIf="form.submitted && noSwitchSelected" class="text-danger mb-4">
                Au moins un type d'utilisateur doit être sélectionné.
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Ajouter matériel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
